<!DOCTYPE HTML>
<html>
<head>
	<title>All Platform Metrics</title>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/images/mib_32.png" rel="shortcut icon">
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/js/knockout-2.0.0.js"></script>
	<script type="text/javascript" src="static/js/jquery-1.7.1.min.js"></script>
	<style type="text/css">
		body {
			padding-top: 60px;
			}
	</style>
</head>
<body>
	<!--- Twitter Bootstrap Topbar -->

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">Big Title</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="dropdown" id="menu1">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
							Dropdown Menu
							<b class="caret"></b>
						</a>
					</li>
				</ul>
			</div>
	  	</div>
	</div>
</body>
</html>
	